<nav>
    <a routerLink="/"><img src="./assets/logo.png" alt=""></a>
    <div *ngIf="menuType==='default' || menuType==='user'" class="search">
        <input #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text"
            placeholder="Search for product, brands and more">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="reDirectToDetails(item.id)">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
    <div class="menu" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li routerLink="">Home</li>
            <li routerLink="seller">Seller</li>
            <li> <a routerLink="/user-auth"> Login/signUp</a></li>
            <li>Cart({{cartItem}})</li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li routerLink="/">Home</li>
            <li routerLink="">{{userName | titlecase}}</li>
            <li> <a routerLink="/my-orders">My Order</a></li>
            <li> <a (click)="userLogout()">Logout</a></li>
            <!-- <li> <a [routerLink]="cartItem>0?'/cart-page':null">Cart({{cartItem}})</a></li> -->
            <li> <a routerLink="/cart-page">Cart({{cartItem}})</a></li>
        </ul>
        <ul class="seller" *ngSwitchCase="'seller'">
            <li routerLink="sellerAddProduct">Add product</li>
            <li routerLink="seller-home">List</li>
            <li (click)="sellerLogout()">Logout</li>
            <li>{{sellerName | titlecase}}</li>
        </ul>
    </div>
</nav>