nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
    background-color: #2874F0;
    padding: 18px;
    color: white;

    a {
        width: auto;

        img {
            width: 38%;
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;

        input[type="text"] {
            height: auto;
            width: 100%;
            border: transparent;
            padding: 5px;
        }


        button {
            border: none;
            padding: 5px;
        }

        ul li {
            border: 1px solid #ddd;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        margin: 0%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            width: 100%;
            margin: 0px;

            li {
                cursor: pointer;
                font-weight: bold;
                padding: 2px;

                a {
                    font-weight: bold;
                    color: white;
                }

            }
        }
    }
}

.seller {
    width: 50%
}

.suggested-result {
    position: absolute;
    // display: list-item;
    list-style: none;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
}

input:focus {
    outline: none;
}