<nav>
    <h1><a routerLink="/">E-Comm</a></h1>
    <div *ngIf="menuType==='default'" class="search">
        <input #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text"
            placeholder="Search for product">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="reDirectToDetails(item.id)">
               {{item.name}}
                </a>
            </li>
        </ul>
    </div>
    <div class="menu" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li routerLink="">Home</li>
            <li routerLink="seller">Seller</li>
            <li>Login</li>
            <li>Cart(0)</li>
        </ul>
        <ul class="seller" *ngSwitchCase="'seller'">
            <li routerLink="sellerAddProduct">Add product</li>
            <li routerLink="seller-home">List</li>
            <li (click)="logout()">Logout</li>
            <li>{{sellerName | titlecase}}</li>
        </ul>
    </div>
</nav>