footer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    right: 0;
    // left: 0;

    .sections {
        width: 100vw;
    height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: violet;

        h5 {
            font-size: 16px;
            // padding: ;
        }
    }

    p {
        color: black
    }
}