
.cart-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
  
    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  
      ul {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        list-style: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
  
          img {
            width: 100px;
            height: 100px;
            border-radius: 4px;
          }
  
          span {
            margin-left: 10px;
          }
  
          button.form-button {
            background-color: #f44336;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #d32f2f;
            }
          }
        }
      }
    }
  
    .summery {
      width: calc(50% - 20px);
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      box-sizing: border-box;
      min-width: 22vw;
  
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          button.form-button {
            background-color: #2874F0;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #2874F0;
            }
          }
          span {
            font-size: 16px;
          }
  
          h4 {
            font-size: 20px;
          }
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      .details ul {
        width: 100%;
      }
      .summery {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  
  