/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x: hidden; }


.carousel-control-next-icon, .carousel-control-prev-icon{
background-color: black;
// border: 5px;
}
.carousel-caption {
    background-color: rgba(161, 159, 159, 0.7); 
}

