<ngb-carousel *ngIf="popularProduct">
	<ng-template ngbSlide *ngFor="let image of popularProduct">
		<div class="picsum-img-wrapper">
			<a routerLink="/product-details/{{image.id}}">
				<img [src]="image.url" alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{image.name}}</h3>
			<p>{{image.discription}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-2" *ngFor="let item of trendyProduct">
			<div class="product-item">
				<a routerLink="/product-details/{{item.id}}">
					<img [src]="item.url" alt="">
				</a>
				<div class="product-details">
					<h6 class="name-head">{{item.name}}</h6>
					<div class="product-price">
						<h6>Price:{{item.price}}</h6>
					</div>
					<div class="product-color">
						<h6>Color:{{item.color}}</h6>
					</div>
				</div>
				<div class="product-footer">
					<a routerLink="/product-details/{{item.id}}">View details</a>
					<a href="">Add to cart</a>
				</div>
			</div>
		</div>
	</div>
</div>